<a href>
    <img src="{{background}}" height="20" width="auto">
</a>
<li>
    <div><input value="1" type="radio" id="cover1"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Corn.png"
            alt="Corn" title="Corn"></div>
    <div><input value="2" type="radio" id="cover2"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Conservation_Corn.png"
            alt="Conservation Corn" title="Conservation Corn">
    </div>
</li>
<li>
    <div><input value="3" type="radio" id="cover3"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Soybean.png"
            alt="Soybeans" title="Soybeans"></div>
    <div><input value="4" type="radio" id="cover4"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Conservation_Soybean.png"
            alt="Conservation Soybeans"
            title="Conservation Soybeans"></div>
</li>
<li>
    <div><input value="5" type="radio" id="cover5"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Alfalfa.png"
            alt="Alfalfa" title="Alfalfa"></div>
    <div><input value="15" type="radio" id="cover15"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Mixed_Fruit_and_Vegetable.png"
            alt="Mixed Fruit & Veggies"
            title="Mixed Fruit & Veggies"></div>
</li>
<li>
    <div><input value="8" type="radio" id="cover8"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Hay.png"
            alt="Hay" title="Hay"></div>
    <div><input value="12" type="radio" id="cover12"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Herbaceous_Bioenergy.png"
            alt="Herbaceous Bioenergy"
            title="Herbaceous Bioenergy"></div>
</li>
<li>
    <div><input value="6" type="radio" id="cover6"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Permanent_Pasture.png"
            alt="Permanent Pasture" title="Permanent Pasture">
    </div>
    <div><input value="7" type="radio" id="cover7"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Rotational_Grazing.png"
            alt="Rotational Grazing" title="Rotational Grazing">
    </div>
</li>
<li>
    <div><input value="14" type="radio" id="cover14"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Wetland.png"
            alt="Wetlands" title="Wetlands"></div>
    <div><input value="9" type="radio" id="cover9"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Prairie.png"
            alt="Prairie" title="Prairie"></div>
</li>
<li>
    <div><input value="11" type="radio" id="cover11"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Conventional_Forest.png"
            alt="Conventional Forest"
            title="Conventional Forest"></div>
    <div><input value="10" type="radio" id="cover10"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Conservation_Forest.png"
            alt="Conservation Forest"
            title="Conservation Forest"></div>
</li>
<li>
    <div><input value="13" type="radio" id="cover13"
                name="landcover"/><img
            src="images/toolbar_icons_bitmaps/Icon_Woody_Bioenergy.png"
            alt="Woody Bioenergy" title="Woody Bioenergy"></div>
</li>