<!doctype html>
<html ng-app="pewi">
<head>
    <meta http-equiv=”X-UA-Compatible” content=”chrome=1;IE=edge”>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0"/>
    <title>PE/WI Work Space</title>
    <meta name="description" content="A dynamic watershed.">
    <script src="vendor/jquery/jquery-1.10.2.min.js"></script>

    <link rel="stylesheet" href="vendor/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="app.css">

    <script src="vendor/d3/d3.v3.min.js"></script>
    <script src="vendor/angular/1.2.26/angular.min.js"></script>
    <script src="vendor/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="bin/helpers.js"></script>
    <script src="bin/main.js"></script>
    <script src="bin/compatibility.js"></script>
    <script src="bin/data.js"></script>
    <script src="bin/calculations.js"></script>
    <script src="bin/puck.js"></script>
    <script src="vendor/colorbrewer/colorbrewer.js"></script>
    <script src="bin/stream.js"></script>
    <script src="bin/background.js"></script>
    <script src="bin/outputmaps.js"></script>
    <script src="bin/score_script.js"></script>
    <script src="bin/views.js"></script>
    <script src="bin/message.js"></script>
    <script src="bin/hud.js"></script>
    <!--<script type="text/javascript">-->
    <!--if(document.documentMode != undefined && document.documentMode < 9) {-->
    <!--alert("Please turn off compatibility mode and refresh the browser.");-->
    <!--} else {-->
    <!--$(document).ready(function () {-->
    <!--go();-->
    <!--});-->
    <!--}-->
    <!--</script>-->

</head>
<body ng-controller="MainCtrl" app-background>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#" ng-click="toggleSidenav()"><i class="fa fa-bars"></i></a></li>
            </ul>
            <div class="navbar-header">
                <a class="navbar-brand">
                    PE/WI <small>beta</small>
                    <!--<img alt="Brand" src="...">-->
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href app-modal="scores">Scores</a></li>
                <li><a href app-modal="maps">Maps</a></li>
                <li><a href app-modal="results">Results</a></li>
                <li class="dropdown" ng-init="setYear(1)">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Year {{year}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{disabled: yearIs(1)}"><a href ng-click="setYear(1)">Year 1</a></li>
                        <li ng-class="{disabled: yearIs(2)}"><a href ng-click="setYear(2)">Year 2</a></li>
                        <li ng-class="{disabled: yearIs(3)}"><a href ng-click="setYear(3)">Year 3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href app-modal="download-dataset">Download Data-set</a></li>
                        <li><a href app-modal="upload-dataset">Upload Data-set</a></li>
                        <li class="divider"></li>
                        <li><a href app-modal="about">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <section id="sidenav" ng-class="{locked: sidenav}">
        <ul class="nav nav-tabs" role="tablist" ng-init="sidenavtab=1">
            <li role="presentation" ng-class="{active: sidenavtab==1}">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Land Covers" ng-click="sidenavtab=1">
                    <i class="fa fa-tree"></i>
                </a>
            </li>
            <li role="presentation" ng-class="{active: sidenavtab==2}">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Physical Features" ng-click="sidenavtab=2">
                    <i class="fa fa-tachometer"></i>
                </a>
            </li>
        </ul>
        <div ng-show="sidenavtab==1" ng-controller="LandCoverSelectCtrl">
            <div class="list-group">
                <a href class="list-group-item"
                   ng-class="{active: landcoverIsSelected(landcover.id)}"
                   ng-repeat="landcover in landcovers"
                   ng-click="setSelectedLandcover(landcover.id)">
                    <img src="images/toolbar_icons_bitmaps/{{landcover.src}}" height="30" width="auto">
                    <small>{{landcover.label}}</small>
                </a>
            </div>
        </div>
        <div ng-show="sidenavtab==2" ng-controller="FeaturesSelectCtrl">
            <div class="list-group">
                <a href class="list-group-item"
                   ng-repeat="feature in features"
                   ng-click="showFeature(feature.id)">
                    <img src="images/icons/navigation/{{feature.src}}" height="30" width="auto">
                    <small>{{feature.label}}</small>
                </a>
            </div>
        </div>
    </section>
    <section id="main">
        <div class="watershed" ng-style="{width: data.columns*30+30,height: data.rows*20+20}">
            <div app-watershed
               class="watershed-rect"
               ng-repeat="landcover in data.baselandcover.data track by $index"
               ng-if="landcover != -1"
               style="left: {{data.column.data[$index] * 30}}px;top: {{data.row.data[$index] * 20}}px"
               ng-click="setLandcover($index, selectedLandcover)"
               ng-mousedown="MouseEntered()">
                <img src="images/cell_images_bitmaps/{{src}}" height="20" width="30">
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div ng-if="modalDialogTemplate" class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialog" aria-hidden="true">
        <div ng-include="modalDialogTemplate"></div>
    </div>
</body>
</html>